<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="rxSettingsPath" value="C:\Users\sn198\rxSettings.json" />
		<add key="SourceFolder" value="C:\Users\sn198\OneDrive\מסמכים\Shay Project\Source" />
		<add key="logFolder" value="C:\Users\sn198\OneDrive\מסמכים\Shay Project" />
		<add key="DestinationFolder" value="C:\Users\sn198\OneDrive\מסמכים\Shay Project\Destination" />
		<!-- MAIL PERFERNCES--> 
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="Port" value="587" />
		<add key="UseSsl" value="true" />
		<add key="SenderEmail" value="sn1983@gmail.com" />
		<add key="RecpientEmail" value="sn1983@gmail.com" />
		<add key="SenderName" value="R(X) Service" />
		<add key="Username" value="sn1983@gmail.com" />
		<add key="Password" value="dmff uste svoe wxkh" />
	</appSettings>
</configuration>